<div id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../assets/images/demo/backgrounds/soft.jpeg');"> 
 
  <section id="pageintro" class="hoc clear">
    <div> 
      <h2 class="heading">Enjoy <br>
        <strong>SoftDrink And Beverages</strong></h2>
      <p>Take a Drink and Feel Refresh in summer.</p>
  
    </div>
  </section>
</div>

<div class="wrapper row3">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <figure class="one_half first">
      <ul class="nospace">
        <li class="btmspace-10"><img src="../assets/images/demo/backgrounds/d1.jpg" alt="" style="height: 300px; width: 500px;"></li>
      </ul>
    </figure>
    <div class="one_half">
      <p class="nospace font-xs bold">SoftDrink And Beverages</p>
      <h6 class="heading">ABOUT</h6>
      <p class="btmspace-30"> We Provide variouty of SoftDrink and Beverages.</p>
      <footer><a class="btn">Learn More</a></footer>
    </div>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <figure class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace group logos">
      <li class="one_quarter first"><a href="#"><img src="../assets/images/demo/backgrounds/d5.jpg" alt=""></a></li>
      <li class="one_quarter"><a href="#"><img src="../assets/images/demo/backgrounds/d2.jpg" alt=""></a></li>
      <li class="one_quarter"><a href="#"><img src="../assets/images/demo/backgrounds/d3.jpg" alt=""></a></li>
      <li class="one_quarter"><a href="#"><img src="../assets/images/demo/backgrounds/d4.jpg" alt=""></a></li>
    </ul>
    <figcaption class="center hidden"><a class="btn" href="#">View More &raquo;</a></figcaption>
    <!-- ################################################################################################ -->
  </figure>
</div>
</div>
